<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="min-h-screen flex flex-col bg-[#8edae5] text-[#676f74]">
    <%= render "shared/header" %>

    <main class="flex-grow container mx-auto py-6 px-4">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
